{% extends "gasprice/base.html" %}
{% block title %}Gas Price Detail{% endblock %}
{% block content %}
    <!-- Create a jumbotron with Bootstrap -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Web3 Gas Tracker</h1>
        <p class="lead">This is a web3 app that fetches and stores gas prices from the Ethereum network using the Alchemy API and the Web3 library.</p>
        <hr class="my-4">
        <!-- Display the gas price details using Django template variables -->
        <p>The gas price is {{ gas_price.gas_price }} Wei, with a transaction speed of {{ gas_price.transaction_speed }}.</p>
        <p>This data was updated on {{ gas_price.timestamp }}.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
{% endblock %}
