{% extends "gasprice/base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <!-- Create a jumbotronn with Bootstrap -->
    <div class="jumbotron">
        <h1 class="display-4">Welcome to Web3 Gas Tracker</h1>
        <p class="lead">This is a web3 app that fetches and stores gas prices from the Ethereum network using the Alchemy API and the Web3 library.</p>
        <hr class="my-4">
        <p>The latest gas price is {{ latest_gas_price.gas_price }} Wei, with a transaction speed of {{ latest_gas_price.transaction_speed }}.</p>
        <p>This data was updated on {{ latest_gas_price.timestamp }}.</p>
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </div>
    <!-- Create a table with Bootstrap -->
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Gas Price</th>
                <th scope="col">Transaction Speed</th>
                <th scope="col">Timestamp</th>
                <th scope="col">Details</th>
            </tr>
        </thead>
        <tbody>
            <!-- Loop through the gas price objects using Django template tag -->
            {% for gas_price in gas_prices %}
            <tr>
                <th scope="row">{{ gas_price.id }}</th>
                <td>{{ gas_price.gas_price }}</td>
                <td>{{ gas_price.transaction_speed }}</td>
                <td>{{ gas_price.timestamp }}</td>
                <!-- Create a link to the gas price detail page using Django template tag -->
                <td><a href="{% url 'gas_price_detail' gas_price.id %}">View</a></td>
            </tr>
            {% endfor %}
        </tbody>
               
    </table>
           <!-- Add a button element with an id attribute -->
        <button id="refresh-button" class="btn btn-secondary btn-lg">Refresh</button>
    </div>
    <!-- Load Bootstrap JS and jQuery from CDN -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
    <!-- Add a script element with the JavaScript code -->
    <!-- Add a script element with the jQuery code -->
    <script>
        // Get the button element by id
        var refreshButton = $("#refresh-button");
        // Add a click event listener to the button
        refreshButton.click(function() {
            // Send an AJAX GET request to the URL of the script
            $.ajax({
                url: "{% url 'fetch_gas_prices' %}",
                type: "GET",
                dataType: "json",
                success: function(data) {
                    // Update the HTML elements with the new data
                    $("#gas-price").text(data.gas_price);
                    $("#transaction-speed").text(data.transaction_speed);
                    $("#timestamp").text(data.timestamp);
                },
                error: function(error) {
                    // Handle any errors
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}